body {
    margin: 0;
    padding: 0;
    /* background-color: #0f0f0f; */
    background: linear-gradient(45deg, #150f25, #160b35);
    color: white;
    text-align: center;
    background-attachment: fixed;
}
* {
    font-family: 'M PLUS Rounded 1c' !important;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
h2 {
    margin-top: 0;
}

#solution {
    display: none;
}

.boxes {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;
}

.box {
   border: 2px solid rgb(58, 58, 58);
   width: 5rem;
   height: 5rem;
   margin: 0 .25rem;
   font-size: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}

#e0 {
    border-radius: .5rem 0 0 .5rem;
}
#e4 {
    border-radius: 0 .5rem .5rem 0;
}

input {
    display: none;
    margin-top: 10rem;
    border: none;
    width: 15rem;
    height: 1.2rem;
    text-align: center;
    border-radius: .4rem;
    background-color: black;
    border: 2px solid rgb(58, 58, 58);
    color: white;
}
.submit {
    margin-top: .5rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .6rem;
    background-color: #538d4e;
    border: none;
    color: white;
    transition: background-color .2s ease-in-out;
}
.submit:hover {
    background-color: rgb(106, 170, 100, 0.5);
}
#after {
    display: none;
}
#share {
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .6rem;
    /* background-color: #538d4e; */
    background: linear-gradient(25deg, #284725, #538d4e);
    border: none;
    color: white;
    font-family: monospace;
}
#share:hover {
    background: linear-gradient(25deg, #3a6e36, #6bc763);
}
#link-okabot {
    margin-top: .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .6rem;
    background-color: #9d60cc;
    border: none;
    color: white;
    font-family: monospace;
}

@media screen and (max-width: 600px) {
    .box {
        width: 4rem;
        height: 4rem;
        margin: 0 2px;
        font-size: 2rem;
    }
    /* input, #submit {
        display: inline;
    } */
     
    #share {
        font-size: 1rem;
    }

    body {
        background: linear-gradient(to bottom, #0f0f0f, #2f2f2f);
        background-attachment: fixed;
    }
}

.filled-wrong {
    background-color: rgb(58, 58, 58);
}
.filled-correct {
    background-color: #538d4e;
    border-color: #538d4e;
}
.filled-misplaced {
    background-color: #b59f3b;
    border-color: #b59f3b;
}

footer {
   position: fixed;
   bottom: .5rem;
   text-align: center;
   width: 100vw;
}

@keyframes tileFlip {
    0% {
        transform: scaleY(100%);
    }
    50% {
        transform: scaleY(0%);
    }
    100% {
        transform: scaleY(100%);
    }
}

/* embedded keyboard */
.keyboard {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    bottom: 3rem;
}
.keyboard .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.keyboard .row button {
    height: 3.5rem;
    width: 2.25rem;
    background-color: rgb(58, 58, 58);
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: larger;
    font-weight: bold;
    box-shadow: 1px 1px #666;
    transition: .05s transform ease-in-out;
}
.keyboard .row button:active {
    background-color: #585858;
    transform: translateY(1px) translateX(1px);
    box-shadow: none;
}
.keyboard .mid {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.keyboard .row button.slightly-wider {
    width: 3rem;
    font-size: .75rem;
}

@media screen and (max-width: 600px) {
    .keyboard {
        display: flex;
    }
}

.admin-input {
    display: inline;
    margin-top: 0;
}

.insecure-copy textarea {
    display: none;
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    padding: 2rem 1rem;
    width: 20rem;
    height: 4rem;
    background-color: black;
    border: 2px solid white;
    border-radius: .5rem;
}

@media screen and (max-width: 600px) {
    .insecure-copy textarea {
        width: 15rem;
        height: 3rem;
        font-size: .8rem;
    }
    
    #link-okabot {
        display: none;
    }
    .ba {
        display: none;
    }
}

@keyframes pulse-h3 {
    0% {
        color: white;
    }
    50% {
        color: rgb(18,138,250);
    }
    100% {
        color: white;
    }
}

.ba h3 {
    animation: 1s pulse-h3 infinite;
}
.ba a {
    color: rgb(18,138,250);
}