<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodluckle</title>
    <link rel="stylesheet" href="game.css">
    <script src="game.js"></script>
    <link rel="manifest" href="pwa/manifest.json">
</head>
<body>
    <h1 class="title">Goodluckle</h1>
    <div class="boxes">
        <div id="e0" class="box"></div>
        <div id="e1" class="box"></div>
        <div id="e2" class="box"></div>
        <div id="e3" class="box"></div>
        <div id="e4" class="box"></div>
    </div>

    <h3 id="solution">The word was</h3>

    <input id="keyboard" type="text" placeholder="tap here for keyboard" /><br>
    <button id="submit">submit</button>

    <div id='after' class="after">
        <h1 id="after-header">you lose!</h1>
        <h2 id="after-sub">what did you expect? to win the 1-in-14855 chance of picking the right word?</h2>
        <button id="share">click to share your silly results</button>
    </div>

    <script>start()</script>

    <footer>v1.1 | made with 💖 by Millie</footer>
</body>
</html>