<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setkey</title>
</head>
<script>
    const key = prompt('log in');
    document.cookie = `key=${key};`;
    location.reload();
</script>
</html>